
a {
    text-decoration: none;
    cursor: pointer;
}

span {
    pointer-events: none;
}

img{
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}


h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}
