<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <title>Vue - week3 - 產品頁面</title>

    <!-- google icon Round-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
    <!--  google icon outline--->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheet/all.css">
</head>

<body class="sidebar-toggled">

    <div id="app">
        <div class="d-flex">

            <!-- sidebar -->
            <!-- <aside class="sidebar  vh-100 border-end">

            </aside> -->


            <!-- main -->
            <main class="main">

                <!-- <div class="d-flex justify-content-between bg-white w-100 border-bottom pe-4 mb-5">

                    <a class="d-inline-block py-3 px-4 border-end" href="#">
                        <span class="material-icons-outlined">
                            open_in_full
                        </span>
                    </a>


                    <a class="d-inline-block py-3 px-4 text-dark" @click.prevent="logout()">登出</a>
                </div> -->


                <!-- 導覽列 -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <a class="navbar-brand" href="#">Vegan</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="./products.html">產品管理</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" @click.prevent="logout">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>





                <!-- table 產品列表 -->
                <section class="py-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10">
                                <h2>產品列表</h2>
                                <div class="table-responsive">
                                    <table class="table align-middle table-hover mt-4">
                                        <thead class="text-nowrap">
                                            <tr class="table-primary ">
                                                <th width="20%">產品名稱</th>
                                                <th width="15%">類別</th>
                                                <th width="15%">
                                                    原價
                                                </th>
                                                <th width="20%">
                                                    售價
                                                </th>
                                                <th width="15%">
                                                    是否啟用
                                                </th>
                                                <th width="25%">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-nowrap">
                                            <!-- 列表渲染 v-for -->
                                            <tr v-for="product in products" :key="product.id">
                                                <td class="fw-bold">{{ product.title}}</td>
                                                <td>
                                                    <span class="badge bg-warning text-dark fs-6">
                                                        {{ product.category}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <del>
                                                        <span class="text-secondary">
                                                            {{product.origin_price}}
                                                        </span>
                                                    </del>

                                                </td>
                                                <td class="text-danger">
                                                    {{ product.price}}
                                                </td>
                                                <td>
                                                    <span :class="{'text-success': product.is_enabled}">
                                                        {{product.is_enabled ?'啟用': '未啟用'}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-end">
                                                        <button type="button" class="btn btn-primary me-3"
                                                            @click="viewProduct(product)">查看細節
                                                        </button>

                                                        <button type="button" class="btn btn-danger"
                                                            @click="deleteProduct(product)">刪除品項
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <p>目前有 <span>{{ Object.keys(products).length}}</span> 項產品</p>
                            </div>
                        </div>
                    </div>
                </section>


                <!-- 產品 Modal -->
                <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">單一產品細節</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- 使用  template 標籤在編譯時，不會生成 html 結構 -->
                                <template v-if="tempProduct.id">
                                    <div class="container">
                                        <div class="card mb-3">
                                            <div class="ratio ratio-4x3">
                                                <img :src="tempProduct.imageUrl" class="card-img-top" alt="主圖">
                                            </div>
                                            <!-- <img :src="temp.imageUrl" class="card-img-top primary-image" alt="主圖"> -->
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold">
                                                    {{ tempProduct.title}}
                                                    <span class="badge bg-primary ms-2">{{ tempProduct.category}}</span>
                                                </h5>
                                                <p class="card-text">商品描述：<br>
                                                    {{ tempProduct.description}}
                                                </p>
                                                <p class="card-text mb-0">商品內容：</p>
                                                <ul v-html="tempProduct.content"></ul>

                                                <div>
                                                    <!-- <p class="card-text me-2">{{tempProduct.price }}</p> -->
                                                    <p class="card-text">餐點規格:<br></p>
                                                    <ul v-html="tempProduct.unit"></ul>
                                                </div>
                                            </div>
                                        </div>



                                        <!-- 產品圖陣列 -->
                                        <div class="row row-cols-3 gy-3">
                                            <div v-for="image in tempProduct.imagesUrl.slice(0,2)" :key="image"
                                                class="col">
                                                <div class="ratio ratio-4x3">
                                                    <img v-if="image" :src="image" class="rounded"
                                                        @click="changeImage(image)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>





    <!-- bootstrap 5 js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>

    <!-- sweetalert2.js -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="module" src="./javascript/products.js"></script>
</body>

</html>